# =====================================
# Python
# =====================================

venv/
__pycache__/
*.py[cod]

# =====================================
# Environment Variables
# =====================================

.env
backend/.env

# =====================================
# IDE
# =====================================

.vscode/
.idea/

# =====================================
# Uploaded Contracts
# =====================================

data/contracts/*
!data/contracts/.gitkeep

# =====================================
# Processed Chunks
# =====================================

data/processed/*
!data/processed/.gitkeep

# =====================================
# ChromaDB
# =====================================

chroma_db/

# =====================================
# OS
# =====================================

.DS_Store
Thumbs.db